* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
.card-title,
.card-text,
.card-subtitle,
strong {
    font-family:
        "Franklin Gothic Medium",
        "Franklin Gothic",
        "ITC Franklin Gothic",
        Arial,
        Helvetica,
        sans-serif;
    line-height: 1.5;
}

.card {
    max-width: 400px;
    margin: 0;
}